.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1{
  font-family: 'Be Vietnam', sans-serif;
  color: #FF0000;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: cadetblue;
}

.App-link {
  color: #61dafb;
}

.vehicle-drop,.route-input{
  display: flex;
  justify-content: space-between;
}

#vehicle1, #vehicle2, .route-origin, .route-destination{
  margin-left: 10px;
  margin-right: 10px;
}

#oAdd, #oCity, #oState, #oZip, #dAdd, #dCity, #dState, #dZip{
  margin-top: 10px;
  margin-bottom: 10px;
  flex-direction: column
}

#vehicle1, #vehicle2{
  width: 250px;
}

#submit {
  margin-top: 10px;
  font-size: 20px;
}

.hidden {
  display: none;
}

.map-area {
  height: 10px;
}

#error-txt {
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
